<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="URDF_model" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find auv_model)/urdf/URDF_model.gazebo" />
  <xacro:include filename="$(find auv_model)/urdf/macros.xacro" />

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0598243657915485 0.00290133329460987 3.67262937855884E-05"
        rpy="0 0 0" />
      <mass
        value="1325.81005732747" />
      <inertia
        ixx="75.0383278763661"
        ixy="5.23213671177585"
        ixz="0.0661855673150373"
        iyy="1523.15268262335"
        iyz="0.0242218854314085"
        izz="1521.24413684517" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Mover">
    <inertial>
      <origin
        xyz="1.49053810354141E-14 -0.010000000000019 0.377096811871121"
        rpy="0 0 0" />
      <mass
        value="65.3301026200155" />
      <inertia
        ixx="4.92937645038139"
        ixy="-4.44089209850063E-16"
        ixz="-1.40436946255482E-14"
        iyy="4.92937645038139"
        iyz="1.64479898768852E-14"
        izz="2.78436010637226" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Mover.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Mover.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Mover"
    type="fixed">
    <origin
      xyz="-1.87967556966709 0.00769257030754841 0.0063893944989666"
      rpy="1.5707963267949 -0.877677519942698 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="Mover" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Hydroacoustics">
    <inertial>
      <origin
        xyz="1.11686938052565 -0.00999999999998848 0.09520412841901"
        rpy="0 0 0" />
      <mass
        value="69.4012252273888" />
      <inertia
        ixx="4.98886458999504"
        ixy="3.87086365328392E-14"
        ixz="7.62728928310454E-16"
        iyy="1.09963028862361"
        iyz="4.5102810375397E-17"
        izz="5.65850585136366" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Hydroacoustics.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Hydroacoustics.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hydroacoustics"
    type="fixed">
    <origin
      xyz="0 0.0124607435061293 -0.193857498878105"
      rpy="3.1289039186943 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Hydroacoustics" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Cap">
    <inertial>
      <origin
        xyz="3.03746122610122E-07 -0.0100013846906931 -0.0815910517056437"
        rpy="0 0 0" />
      <mass
        value="16.6316404230158" />
      <inertia
        ixx="0.282638343401794"
        ixy="5.44403615916648E-07"
        ixz="-7.2505187099246E-08"
        iyy="0.282635956725477"
        iyz="-5.7940151309384E-07"
        izz="0.428188157183661" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Cap.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Cap.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Cap"
    type="fixed">
    <origin
      xyz="1.94116503902016 0 -0.01"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="Cap" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Superstructure">
    <inertial>
      <origin
        xyz="-0.22049574490649 -0.0100000004778598 -1.07934759704319"
        rpy="0 0 0" />
      <mass
        value="31.9212849710129" />
      <inertia
        ixx="0.708670361026006"
        ixy="2.2216407038686E-09"
        ixz="-0.00676492766020198"
        iyy="0.901474495243181"
        iyz="3.14049211889457E-08"
        izz="0.417685194715937" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Superstructure.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.443137254901961 0.0313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Superstructure.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Superstructure"
    type="fixed">
    <origin
      xyz="-2.19317649174576 0.00182068548972492 0.644641143209999"
      rpy="2.77387617844021 -1.53549300999087 -2.77408521585813" />
    <parent
      link="base_link" />
    <child
      link="Superstructure" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Equipment">
    <inertial>
      <origin
        xyz="-0.759875944071666 -0.00999999999999203 0.0605920433227322"
        rpy="0 0 0" />
      <mass
        value="0.996487289220383" />
      <inertia
        ixx="0.00252906500615722"
        ixy="-7.7969653576402E-19"
        ixz="1.56136575225607E-18"
        iyy="0.00245336768829255"
        iyz="-3.26277091282356E-18"
        izz="0.00127480046175545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Equipment.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://auv_model/meshes/Equipment.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Equipment"
    type="fixed">
    <origin
      xyz="0 0.0060404159353092 0.312101767658129"
      rpy="0.0126887348954954 0 0" />
    <parent
      link="base_link" />
    <child
      link="Equipment" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>